<div class="summaryStats">
  <div class="stat distance active" data-graph-type="distance_miles">
    <div class="value">{{ distance }}</div>
    <div class="label">Miles</div>
  </div>
  <div class="stat duration" data-graph-type="duration">
    <div class="value">{{ duration }}</div>
    <div class="label">Hours</div>
  </div>
  <div class="stat score" data-graph-type="score">
    <div class="value">{{ score }}</div>
    <div class="label">Score</div>
  </div>
  <div class="stat cost" data-graph-type="fuel_cost_usd">
    <div class="value">{{ cost }}</div>
    <div class="label">Fuel</div>
  </div>
  <div class="stat mpg" data-graph-type="average_mpg">
    <div class="value">{{ mpg }}</div>
    <div class="label">MPG</div>
  </div>
</div>

<svg height="225"></svg>
