<div class="tripHeader">
  <div class="start">
    <div class="time">{{ formatted_started_at }}, {{ formatted_calendar_date_with_year }}</div>
    <div class="location">{{ startAddress }}</div>
  </div>
  <div class="end">
    <div class="time">{{ formatted_ended_at }}</div>
    <div class="location">{{ endAddress }}</div>
  </div>
</div>
<div class="tripStats">
  <div class="stat distance">
    <div class="value">{{ formatted_distance_miles }}</div>
    <label>Miles</label>
  </div>
  <div class="stat mpg">
    <div class="value">{{ formatted_average_mpg }}</div>
    <label>MPG</label>
  </div>
  <div class="stat cost">
    <div class="value">${{ formatted_fuel_cost_usd }}</div>
    <label>Fuel</label>
  </div>
  <div class="stat duration {{#if over60Minutes}}hours{{/if}}">
    {{#if over60Minutes}}
      <div class="value">{{ formatted_duration_hours }}</div>
      <label>Hours</label>
    {{else}}
      <div class="value">{{ formatted_duration_minutes }}</div>
      <label>Mins</label>
    {{/if}}
  </div>
</div>
{{#if taggedBusiness}}
  <div class="business-tag tagged-business">Tagged as business trip</div>
{{/if}}
