<a href="#/trip/{{ id }}" class="trip" data-trip_id="{{ id }}">
  <div class="tripLine">
    <div>B</div>
    <div>A</div>
  </div>
  <input type="checkbox" class="tripCheck">
  <div class="tripDetails">
    <div class="topBox">
      <div class="endTime">{{ formatted_end_time }}</div>
      <div class="endLocation">{{ end_location.display_name }}</div>
    </div>
    <div class="middleBox">
      <div class="distance stat">{{ distance }}</div>
      <div class="mpg stat">{{ average_mpg }}</div>
      <div class="fuelCost stat">${{ fuel_cost_usd }}</div>
      <div class="duration stat">{{ duration }}</div>
    </div>
    <div class="tripEventsBox">
      <div class="hardBrakes event octagon {{#if noHardBrakes}}noHardBrakes{{/if}}">{{hard_brakes}}<i class="glyphicon glyphicon-ok"></i></div>
      <div class="hardAccels event {{#if noHardAccels}}noHardAccels{{/if}}">{{hard_accels}}<i class="glyphicon glyphicon-ok"></i></div>
      <div class="speeding event {{#if noSpeeding}}noSpeeding{{/if}}">{{duration_over_70_min}}</div>
    </div>
    <div class="bottomBox">
      <div class="startTime">{{ formatted_start_time }}</div>
      <div class="startLocation">{{ start_location.display_name }}</div>
    </div>
  </div>
</a>
