<div class="timeTopBox">
  <div class="endTime">{{ formatted_end_time }}</div>
  <div class="endDate">{{ formatted_calendar_date }}</div>
</div>


<div class="timeBottomBox">
  <div class="startTime">{{ formatted_start_time }}</div>
</div>


<div class="tripLine">
  <div>B</div>
  <div>A</div>
</div>


<div class="tripDetails">

  <div class="startLocation">{{ start_location.display_name }}</div>

  <div class="middleBox">
    <div class="distance stat">{{ formatted_distance_miles }}</div>
    <div class="mpg stat">{{ formatted_average_mpg }}</div>
    <div class="fuelCost stat">{{ formatted_fuel_cost_usd }}</div>
    <div class="duration stat">{{ formatted_duration }}</div>
  </div>

  <div class="tripEvents">
    <div class="event">
      <div class="hardBrakes {{#if noHardBrakes}}none{{/if}}">{{hard_brakes}}</div>
    </div>
    <div class="event">
      <div class="speeding {{#if noSpeeding}}none{{/if}}">{{duration_over_70_min}}</div>
    </div>
    <div class="event">
      <div class="hardAccels {{#if noHardAccels}}none{{/if}}">{{hard_accels}}</div>
    </div>
  </div>

  <div class="endLocation">{{ end_location.display_name }}</div>

  <a href="#/trip/{{ id }}" class="tripLink">View Trip</a>

</div>
