<div class="summaryStats">
  <svg data-score="{{ score }}"></svg>
  <div class="stat distance" data-graph-type="distance_miles">
    <div class="value">{{ distance }}</div>
    <div class="label">Miles</div>
  </div>
  <div class="stat mpg active" data-graph-type="average_mpg">
    <div class="value">{{ mpg }}</div>
    <div class="label">MPG</div>
  </div>
  <div class="stat cost" data-graph-type="fuel_cost_usd">
    <div class="value">{{ cost }}</div>
    <div class="label">Fuel</div>
  </div>
  <div class="stat duration" data-graph-type="duration">
    <div class="value">{{ duration }}</div>
    <div class="label">Hours</div>
  </div>
</div>
