<div class="btn-user">
  <span class="scoreOverall">73</span>
  <span class="btn-text">{{first_name}}</span><span class="caret"></span>
</div>

<div class="userPopoverContent">
  <div class="userStats">
    <div class="stat mpg">
      <div class="value">28.3{{ mpg }}</div>
      <div class="label">MPG</div>
    </div>
    <div class="stat cost"">
      <div class="value">$137.17{{ cost }}</div>
      <div class="label">Fuel</div>
    </div>
    <div class="stat score">
      <div class="value">73{{ score }}</div>
      <div class="label">Score</div>
    </div>
    <div class="stat distance">
      <div class="value">1047{{ distance }}</div>
      <div class="label">Miles</div>
    </div>
    <div class="stat duration">
      <div class="value">25:24{{ duration }}</div>
      <div class="label">Time</div>
    </div>
  </div>
</div>
