<header>
  <div id="logo"></div>
  <div id="topMenu"><a id="logout" href="/logout/">Log Out</a></div>
  <div id="user"></div>
</header>
<div id="trip">
  <div class="tripHeader">
    <a href="/" class="back btn btn-default">
      <span class="glyphicon glyphicon-chevron-left"></span> Back
    </a>
    <a class="btn btn-default previousTrip">
      <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <span class="title">{{ title }}</span>
    <a href="#/trips/{{ nextTrip }}" class="btn btn-default nextTrip {{#unless nextTrip }}noTrip{{/unless}}">
      <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
    <a href="#" class="share btn btn-default" data-toggle="popover">
      <span class="glyphicon glyphicon-share"></span> Share
    </a>
  </div>
  <div class="summaryStats">
    <div class="stat mpg" data-graph-type="average_mpg">
      <div class="value">{{ mpg }}</div>
      <div class="label">MPG</div>
    </div>
    <div class="stat cost" data-graph-type="fuel_cost_usd">
      <div class="value">{{ cost }}</div>
      <div class="label">Fuel</div>
    </div>
    <div class="stat score" data-graph-type="score">
      <div class="value">{{ score }}</div>
      <div class="label">Score</div>
    </div>
    <div class="stat distance" data-graph-type="distance_miles">
      <div class="value">{{ distance }}</div>
      <div class="label">Miles</div>
    </div>
    <div class="stat duration" data-graph-type="duration">
      <div class="value">{{ duration }}</div>
      <div class="label">Time</div>
    </div>
  </div>
  <div class="mapContainer">
    <div id="map"></div>
    <div class="tripEvents">
      <div class="hardBrakes event">
        <span>{{hard_brakes}}</span>
        <label>Hard Brakes</label>
      </div>
      <div class="hardAccels event">
        <span>{{hard_accels}}</span>
        <label>Hard Accels</label>
      </div>
      <div class="speeding event">
        <span>{{duration_over_70_min}}</span>
        <label>Min over 70</label>
      </div>
    </div>
  </div>

</div>
