<div id="trip">
  <div class="tripNavigation">
    <a href="#/" class="btn btn-blue btn-back">Back</a>
    <a href="#/trip/{{ prevTrip }}" class="previousTrip {{#unless prevTrip }}noTrip{{/unless}}" data-id="{{ prevTrip }}">Previous Trip</a>
    <span class="title">Trip {{index}} of {{totalTripCount}}</span>
    <a href="#/trip/{{ nextTrip }}" class="nextTrip {{#unless nextTrip }}noTrip{{/unless}}" data-id="{{ prevTrip }}">Next</a>
  </div>
  <div class="trip">
    <div id="tripDetails"></div>
    <div id="map"></div>
  </div>
</div>
